<!DOCTYPE html>
<html>
<head>
  <title>Assignment4</title>
<%= stylesheet_link_tag "style.css" %> 
</head>
<body>
<div id="header">				
<h4>Blogger</h4><h3>Name : Ammar Tariq Khan </h3>
<h3>Student No: 2824199 </h3>

</div>
<section>
<%= yield %>
</section>

<div id = "footer">
<small>Copyrights Blogger </small>
</div>

</body>
</html>
